.container{
   display: flex;
   flex-direction: column;
   align-items: center;
    
   .title {
       height: 10%;
   }

    .cards {
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;

        .projectCard {
            width: 50%;
            margin: 10px;
        }
    }
}