.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .desc {
        text-align: center;
    }

    button {
        margin-bottom: 10px;
    }
}