.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        div {
            width: 100%;
            text-align: center;

            input {
                width: 30%;
            }

        
        }
        
       
    }
}