.container {
    position: sticky;
    top: 0;

    .links {
        background-color: rgb(169, 169, 224);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    
        a {
            font-size: 30px;
            text-decoration: none;
            font-weight: bold;
        }
    }
}